/* Styling for layouts. */
@import "./layouts/page_layout.css";
@import "./layouts/form_layout.css";

/* Styling for elements within the page. */
@import "./elements/navigation.css";
@import "./elements/button.css";
@import "./elements/input.css";
@import "./elements/form.css";
@import "./elements/dialog.css";

/* Styling for compound elements. */
@import "./compound/button_groups.css";


/* Overall styling. */
html > body
{

  position: absolute;
  inset: 0px 0px 0px 0px;
  padding: 0px;
  margin: 0px;

  /* Font and Text */
  font-family: sans-serif;
  font-size: 16pt;

  /* Colors */
  background-color: #dfdfdfff;
  color: #404040ff;

}



.center-horizontal {

  display: flex;
  flex-direction: row;

  justify-content: center;
  justify-items: center;

}

.center-vertical {

  display: flex;
  flex-direction: column;

  justify-content: center;
  justify-items: center;

}

.centered-title {

  text-align: center;

  font-size: 36pt;

  padding: 14pt;

}