{% extends './base/main_page.html' %}

{% load static %}

{% block metadata %}
  <script type="text/javascript" src="{% static 'new_task_form.js' %}"></script>
{% endblock %}
  
{% block content %}









<h1>Home Page</h1>
{% for group, task_list in tasks.items %}

<ul>

  <li>

    <b>{% if group %} {{ group.title }} {% else %} Uncategorized {% endif %}</b>

    <ol>

      {% for task in task_list %}

      <li>{{ task.title }}</li>

      {% endfor %}

    </ol>

  </li>

</ul>

{% empty %}

<h3>There are no tasks yet.</h3>

{% endfor %}

<h2>New Task</h2>

<span id="new-task-alert" style="color: red"></span>

<!--New Task form-->
<form id="new-task-form">

  <!--Title field-->
  <div>

    <input id="new-task-title-field" type="text" placeholder="Title" required>

  </div>

  <!--Description field-->
  <div>

    <textarea id="new-task-description-field" rows="20" cols="50"></textarea>

  </div>

  <!--Due Date field-->
  <div>

    <input id="new-task-due-date-field" type="date">

  </div>

  <input type="submit" value="Create Task">

</form>

{% endblock %}