{% extends './base/main_page.html' %}

{% load static %}

{% block metadata %}
  <link rel="stylesheet" href="{% static 'taskboard.css' %}">

  <script type="text/javascript" src="{% static 'new_task_form.js' %}"></script>
  <script type="text/javascript" src="{% static 'basic_light/elements/dialog.js' %}"></script>
  <script type="text/javascript" src="{% static 'taskboard.js' %}"></script>
{% endblock %}
  
{% block content %}

<div class="layout-body-split">

  <div class="layout-left-body"></div>

  <div class="layout-center-right">

    <ul class="horizontal-list element-list taskboard">

    </ul>

    <!--User Token-->
    <input type="hidden" value="{{ user_token }}" id="user_token">

  </div>

</div>

<!--New Task form-->
<dialog closedBy="any" id="new-task-dialog">
    
  <span id="new-task-alert" style="color: red"></span>

  <form id="new-task-form">

    <!--Title field-->
    <div>

      <input id="new-task-title-field" type="text" placeholder="Title" required>

    </div>

    <!--Description field-->
    <div>

      <textarea id="new-task-description-field" rows="20" cols="50"></textarea>

    </div>

    <!--Due Date field-->
    <div>

      <input id="new-task-due-date-field" type="date">

    </div>

    <button class="button-accept">Create Task</button>

  </form>

</dialog>


{% endblock %}
