{% extends './base/main_page.html' %}

{% block metadata %}{% endblock %}

{% block content %}
<div class="layout-body-split">

  <div class="layout-left-body"></div>

  <div class="layout-center-body">

    <h1 class="centered-title">Agenda</h1>

    <p>
      Create, manage, and share to-do lists with ease when using Agenda. Our web-based application allows you to manage
      multiple to-do lists on your personal dashboard or collaborate with other users with shared projects. To begin, 
      <a href="{% url 'register' %}">create a free account</a>.
    </p>

  </div>

</div>
{% endblock %}