<!DOCTYPE html>

<html lang="en-US">
  <head>
    <title>Agenda - LogIn</title>
  </head>
  <body>
    <h1>Login Page</h1>
    {% if error_message %}
    <div>{{error_message}}</div>
    {% endif %}
    <form onaction="{% url 'login' %}" method="POST">
      {% csrf_token %}

      <div>
        <input type="text" name="username_field" placeholder="Username" required>
      </div>

      <div>
        <input type="password" name="password_field" placeholder="Password" required>
      </div>

      <div>
        <input type="submit" value="LogIn">
        <a href="{% url 'register' %}">Create New Account</a>
      </div>

    </form>
  </body>
</html>