{% extends './base/form_page.html' %}

{% block content %}
  <form onaction="{% url 'login' %}" method="POST">

    {% if error_message %}
    <div>{{error_message}}</div>
    {% endif %}


    {% csrf_token %}

    <p>
      <input type="text" name="username_field" placeholder="Username" required>
    </p>

    <p>
      <input type="password" name="password_field" placeholder="Password" required>
    </p>

    <p class="center-horizontal">
      <span style="margin-right: 4pt;">
        <input type="submit" value="LogIn">
      </span>
      <span style="margin-left: 4pt;">
        <a href="{% url 'register' %}">Create New Account</a>
      </span>
    </p>

  </form>
{% endblock %}