<!DOCTYPE html>

<html lang="en-US">
  <head>
    <title>Agenda</title>
  </head>
  <body>
    <h1>Register Page</h1>
    <form onaction="{% url 'register' %}" method="POST">
      {% csrf_token %}

      <div>
        <input type="text" name="username_field" placeholder="Username" required>
      </div>

      <div>
        <input type="email" name="email_field" placeholder="Email" required>
      </div>

      <div>

        <input type="password" name="password_field" placeholder="Password" required>

        <input type="password" name="confirm_field" placeholder="Confirm" required>

      </div>

      <div>
        <input type="submit" value="Create Account">
        <a href="{% url 'login' %}">Log In</a>
      </div>

    </form>
  </body>
</html>