{% extends './base/form_page.html' %}

{% block content %}
  <form onaction="{% url 'register' %}" method="POST">

    {% if error_message %}
    <div>{{ error_message }}</div>
    {% endif %}

    {% csrf_token %}

    <p>
      <input type="text" name="username_field" placeholder="Username" required>
    </p>

    <p>
      <input type="email" name="email_field" placeholder="Email" required>
    </p>

    <p>

      <input type="password" name="password_field" placeholder="Password" required>
    </p>

    <p>

      <input type="password" name="confirm_field" placeholder="Confirm" required>

    </p>

    <p>
      <input type="submit" value="Create Account">
      <a href="{% url 'login' %}">Log In</a>
    </p>

  </form> 
{% endblock %}