{% extends './base/main_page.html' %}

{% load static %}

{% block metadata %}
  <script type="text/javascript" src="{% static 'basic_light/elements/dialog.js' %}"></script>
  <script type="text/javascript" src="{% static 'basic_light/compound/tab_panel.js' %}"></script>
  <script type="module" src="{% static 'controllers/commonboard.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="layout-body-split">

    <div class="layout-left-body">
      
      <ul class="element-list">

        <li><button class="button-primary stretch open-dialog-button" data-target="create-group-dialog">Create New Common Board</button></li>

        <hr/>

        <div id="shared-groups-tab-list" data-group="shared-group-tab-panel" class="element-list tab-selector-bar"></div>

      </ul>

    </div>

    <div class="layout-center-right tab-panel" id="shared-group-tab-panel"></div>

    <!--User Token-->
    <input type="hidden" value="{{ user_token }}" id="user_token">

    <!--Create Group dialog.-->
    <dialog closedBy="any" id="create-group-dialog">
      <form>

        <div style="margin: 10pt;">
          <input type="text" placeholder="Name of Board"/>
        </div>

        <div style="margin: 10pt;">
          <ul class="element-list" id="shared_list"></ul>
          <input type="text" placeholder="Share With" id="shared_field"/>
        </div>

        <div>
          <button class="button-accept">Create Board</button>
        </div>

      </form>
    </dialog>

  </div>

{% endblock %}
