<!DOCTYPE html>
<html lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Agenda - </title>
  
  <link rel="stylesheet" href="test_files/taskboard.css">

  <script type="text/javascript" src="test_files/new_task_form.js"></script>
  <script type="text/javascript" src="test_files/dialog.js"></script>
  <script type="text/javascript" src="test_files/taskboard.js"></script>

  <link rel="stylesheet" href="test_files/basic_light.css">
</head>

<body class="layout-page">

  <!--Navigation.-->
  <nav class="layout-header">

    <ul class="nav-menu-primary">

      <li><a href="http://localhost:8000/"><h3 style="margin: 3px; padding: 3px;">Agenda</h3></a></li>

      
      <li><a href="http://localhost:8000/home"><button class="button-primary">Home</button></a></li>
      

    </ul>

    <ul class="nav-menu-secondary">
      
      <li>Welcome</li>
      
    </ul>

  </nav>

  <div class="layout-body">
    

<div class="layout-body-split">

  <div class="layout-left-body"></div>

  <div class="layout-center-right">

    <ul class="horizontal-list element-list taskboard">

      <li class="task-list-block">

        <div class="left-right-container">
          <div contenteditable="true">Group Title</div>
          <button class="right-container open-dialog-button button-accept" data-target="new-task-dialog"><img src="test_files/plus.svg" width="10" height="10"></button>
        </div>

        <ul class="element-list">

          <li class="task-block">
            <input type="checkbox">
            Sample Output
          </li>
          <li class="task-block">
            <input type="checkbox">
            Sample Output
          </li>
          <li class="task-block">
            <input type="checkbox">
            Sample Output
          </li>

        </ul>

      </li>

    <li class="task-list-block"><div class="left-right-container"><div contenteditable="true">Sample group</div><button class="right-container open-dialog-button button-accept"><img src="test_files/plus.svg" width="10" height="10"></button></div><ul class="element-list"><li class="task-block"><input type="checkbox">Task 3</li></ul></li></ul>

    <!--User Token-->
    <input type="hidden" value="32f8b3c2-a865-443f-925b-9f5e38166609" id="user_token">

  </div>

</div>

<!--New Task form-->
<dialog closedby="any" id="new-task-dialog">
    
  <span id="new-task-alert" style="color: red"></span>

  <form id="new-task-form">

    <!--Title field-->
    <div>

      <input id="new-task-title-field" type="text" placeholder="Title" required="">

    </div>

    <!--Description field-->
    <div>

      <textarea id="new-task-description-field" rows="20" cols="50"></textarea>

    </div>

    <!--Due Date field-->
    <div>

      <input id="new-task-due-date-field" type="date">

    </div>

    <button class="button-accept">Create Task</button>

  </form>

</dialog>



  </div>

  <div class="layout-page-footer">
    Footer Text
  </div>



</body></html>