.horizontal-list {

  display: flex;
  flex-direction: row;
  gap: 10pt;

  padding: 0px;
  margin: 0px;
  height: 100%;

}

.element-list {

  list-style: none;

  padding: 0px;

  gap: 10pt;

}

.grid-list {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10pt;
  
  margin-block-start: 0px;
  padding-inline-start: 0px;

  list-style: none;

}