nav {

  display: flex;
  flex-direction: row;

  padding-left: 8pt;
  padding-right: 8pt;

}

nav > ul {

  margin: 0px;
  padding: 0px;

  list-style: none;
  display: flex;
  flex-direction: row;

}

nav > ul > li {

  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.nav-menu-secondary {

  margin-left: auto;

}

.nav-menu-primary > * {

  margin-left: 4pt;
  margin-right: 4pt;

}

.nav-menu-secondary > *  {

  margin-left: 4pt;
  margin-right: 4pt;

}