/* Baseline declarations. */

.button-group-row {

  padding: 0px;

  border-radius: 10px;

}

.button-group-column {

  padding: 0px;

  display: flex;
  flex-direction: column;

  border-radius: 5px;

}


/* Child elements. */

.button-group-row > button, .button-group-row > a > button {

  border-radius: 0px;
  margin: 0px;

}

.button-group-column > button, .button-group-column > a > button {

  border-radius: 0px;
  margin: 0px;

}

.button-group-row > img {
  display: inline;
}

.button-group-row > a {
  display: inline;
}

.button-group-row > input[type="button"] {

  border-radius: 0px;
  margin: 0px;

}

.button-group-column > input[type="button"] {

  border-radius: 0px;
  margin: 0px;

}

.button-group-row > input[type="button"]:first-child {

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.button-group-row > input[type="button"]:last-child {

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}


/* Styling for the first and last child elements. */

.button-group-row > button:first-child, .button-group-row > a:first-child button {

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.button-group-row > button:last-child, .button-group-row > a:last-child button {

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.button-group-column > button:first-child {

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.button-group-column > button:last-child {

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.button-group-column > input[type="button"]:first-child {

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.button-group-column > input[type="button"]:last-child {

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}