.layout-form {

  display: flex;
  flex-direction: column;

}

.layout-form > .layout-center {

  flex-grow: 1;

  padding: 5%;

  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;

}

.layout-center > *
{

  margin: auto;

  display: inline;

}

.layout-center > .layout-footer {

  flex-grow: 0;

}