.layout-page {

  display: flex;
  flex-direction: column;

}

.layout-page > .layout-header {

  flex-grow: 0;

}

.layout-page > .layout-body {

  flex-grow: 1;

  height: 100%;

}

.layout-page > .layout-body > .layout-body-split {

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  height: 100%;

}


.layout-page > .layout-body > .layout-body-split > .layout-left-body {

  grid-column-start: 1;
  grid-column-end: 1;

}

.layout-page > .layout-body > .layout-body-split > .layout-center-body {

  grid-column-start: 2;
  grid-column-end: 2;

}

.layout-page > .layout-body > .layout-body-split > .layout-right-body {

  grid-column-start: 3;
  grid-column-end: 3;

}

.layout-page > .layout-body > .layout-body-split > .layout-center-right {

  grid-column-start: 2;
  grid-column-end: 4;

}

.layout-page > .layout-body > .layout-body-split > .layout-center-left {

  grid-column-start: 1;
  grid-column-end: 3;

}


.layout-page > .layout-footer{

  flex-grow: 0;

}