@import "./basic_light/layouts/page_layout.css";
@import "./basic_light/layouts/block_layout.css";
@import "./basic_light/layouts/form_layout.css";

@import "./basic_light/elements/buttons.css";
@import "./basic_light/elements/navigation.css";

html, body {

  /* Structure */
  position: absolute;
  padding: 0px;
  margin: 0px;
  inset: 0px 0px 0px 0px;

  /* Font */
  font-family: sans-serif;
  font-size: 16pt;

}