.taskboard {

  padding: 10pt;

  overflow: auto;

}

.task-list-block {

  display:flex;
  flex-direction: column;

  border: 2px solid lightslategray;
  background-color: #cfcfcfff;

  margin: 8pt;
  padding: 12pt;
  padding-top: 0px;
  padding-bottom: 2pt;

  min-width: 25vh;

}

.taskboard h4 {

  margin: 0px;

}

.task-block {

  display: flex;
  flex-direction: row;

  justify-content: center;
  justify-items: center;

  margin: 4pt;
  padding: 8pt;

  background-color: #7b7b7b;
  color: #bbbbbbff;

  word-wrap: normal;

}


.title-field {

  background: #00000000;
  border: none;

}

.title-field:focus {

  outline: none;

}


.hover-icon {

  display: flex;
  flex-direction: column;

  justify-content: center;
  justify-items: center;
  justify-self: center;

  margin-left: auto;


  opacity: 0;

}

.hover-icon:hover {

  opacity: 1;

}