<!DOCTYPE html>

{% load static %}

<html lang="en-US">

<head>
  <title>Agenda - {% block title %}{% endblock %}</title>
  {% block metadata %}{% endblock %}
  <link rel="stylesheet" href="{% static 'basic_light/basic_light.css' %}">
</head>

<body class="layout-page">

  <!--Navigation.-->
  <nav class="layout-header">

    <ul class="nav-menu-primary">

      <li><a href="{% url 'index' %}"><h3 style="margin: 3px; padding: 3px;">Agenda</h3></a></li>

      {% if user.is_authenticated %}
      <li><a href="{% url 'home' %}"><button class="button-primary">Home</button></a></li>
      <li><a href="{% url 'shared' 0 %}"><button class="button-primary">Shared</button></a></li>
      {% endif %}

    </ul>

    <ul class="nav-menu-secondary">
      {% if not user.is_authenticated %}
      <li><a href="{% url 'login' %}"><button class="button-primary">Log In</button></a></li>
      <li><a href="{% url 'register' %}"><button class="button-primary">Register</button></a></li>
      {% else %}
      <li>Welcome</li>
      {% endif %}
    </ul>

  </nav>

  <div class="layout-body">
    {% block content %}{% endblock %}
  </div>

  <div class="layout-page-footer">
    {% block footer %}{% endblock %}
  </div>

</body>

</html>